body {
    font-family: "Arial, Helvetica, sans-serif";
}
form {
    margin: 50px;
}
label {
    font-weight: bold;
}
input[type=submit] {
    margin: 36px 0;
    color: green;
    font-weight: bold;
    font-size: 120%;
}
